services:
  front:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV
      - NEXT_PUBLIC_API_URL
    volumes:
      - .:/app
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
